{% load static %}
{% if cart %}
<li class="header-cart dropdown default-dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

        <div class="header-btns-icon">
            <i class="fa fa-shopping-cart"></i>
            <span class="qty">{{ 1 }}</span>
        </div>
        <strong class="text-uppercase">Корзина:</strong>
        <br>
        <span>
            {{ 5.99 }}$
        </span>
    </a>
    <div class="custom-menu">
        <div id="shopping-cart">
            {% for item in cart %}
            <div class="shopping-cart-list">
                <div class="product product-widget">
                    <div class="product-thumb">
                        <img src="/static/shop/img/products/%D0%90%D0%BF%D1%82%D0%B5%D1%87%D0%BA%D0%B0.jpg" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">${{ item.price }} <span class="qty">1</span></h3>
                        <h2 class="product-name"><a href="#">{{ item.name }}</a></h2>
                    </div>
                    <a class="cancel-btn" href="#"><i class="fa fa-trash"></i></a>
                </div>
            </div>
            {% endfor %}
            <div class="shopping-cart-btns" align="center">
                <a href="../order"><button class="primary-btn">Купити <i class="fa fa-arrow-circle-right"></i>
                </button></a>
            </div>
        </div>
    </div>
</li>
{% endif %}