{% extends "main/loyaut.html" %}
{% load static %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'shop/css/buttons.css' %}">
{% endblock %}

{% block content %}

{% include "main/nav.html"%}

<div id="container" class="container">
    <div id="tabs" class="tabs-container">

        <div class="tabs" style="margin-left:12%; margin-right:12%; margin-top:20px;">
            <a id="tab1" data-tab="1" class="tab custom-btn btn-9">Усі товари</a>
            <a id="tab2" data-tab="2" class="tab custom-btn btn-9">Туризм</a>
            <a id="tab3" data-tab="3" class="tab custom-btn btn-9">Полювання</a>
            <a id="tab4" data-tab="4" class="tab custom-btn btn-9">Взуття</a>
            <a id="tab5" data-tab="5" class="tab custom-btn btn-9">Одяг</a>
        </div>

        <div class="content">
            <div id="tabcontent1" data-tab="1" class="tabcontent">
                <div class="row">
                    {% if products %}
                    {% for el in products %}
                    <!-- Product Single -->
                    {% include 'shop/single-product.html' %}
                    <!-- /Product Single -->
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="tabcontent2" data-tab="2" class="tabcontent">
                <div class="row">
                    {% if products %}
                    {% for el in products %}
                    {% if el.group == "tourism" %}
                    <!-- Product Single -->
                    {% include 'shop/single-product.html' %}
                    <!-- /Product Single -->
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="tabcontent3" data-tab="3" class="tabcontent">
                {% if products %}
                {% for el in products %}
                {% if el.group == "hunt" %}
                <!-- Product Single -->
                {% include 'shop/single-product.html' %}
                <!-- /Product Single -->
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div id="tabcontent4" data-tab="4" class="tabcontent">
                {% if products %}
                {% for el in products %}
                {% if el.group == "shoes" %}
                <!-- Product Single -->
                {% include 'shop/single-product.html' %}
                <!-- /Product Single -->
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div id="tabcontent5" data-tab="5" class="tabcontent">
                {% if products %}
                {% for el in products %}
                {% if el.group == "closes" %}
                <!-- Product Single -->
                {% include 'shop/single-product.html' %}
                <!-- /Product Single -->
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>

</div>

<script>
    // DOM Elements
const tabs = document.querySelectorAll('.tab')
const tabContents = document.querySelectorAll('.tabcontent')

// Functions
const activateTab = tabnum => {

    tabs.forEach( tab => {
      tab.classList.remove('active')
    })

    tabContents.forEach( tabContent => {
        tabContent.classList.remove('active')
    })

    document.querySelector('#tab' + tabnum).classList.add('active')
    document.querySelector('#tabcontent' + tabnum).classList.add('active')
    localStorage.setItem('jstabs-opentab', JSON.stringify(tabnum))

}
// Event Listeners
tabs.forEach(tab => {
    tab.addEventListener('click', () => {
        activateTab(tab.dataset.tab)
    })
})

function start(query = "tab1") {
  document.getElementById(query).click();
}
start();



</script>
{% endblock %}