{% if el.vanish == True %}
<div class="col-md-4 col-sm-6 col-xs-6">
    <div class="product product-single">
        <div class="product-thumb">
            <div class="product-label">
                <span style="background-color: #2d56fd; text-align: center; font-size:14px;">На ЗСУ</span>
                <span class="sale" style="background-color: #e4c918; text-align: center; font-size:14px; color: black;">5%</span>
            </div>
            <img src="{{ el.img.url }}" alt="">
        </div>
        <div class="product-body">
            <h3 class="product-price">${{ el.price }}</h3>
            <h2 class="product-name"><a href="#">{{ el.name }}</a></h2>
            <div class="product-btns">
                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}