{% extends 'main/loyaut.html' %}
{% load static %}
{% block title %}FAQ{% endblock %}

{% block content %}
<style>
    h2{
    padding-top:15px;
    }
    hr{
    padding-top:15px;
    }
</style>
<div class="row">
    <div class="col-md-2" style="background-color:#E0E5EC; height: 100%;"></div>
    <div class="col-md-8">
        <h2>Цей сервіс конфіденційний?</h2>
        <p>Ваша конфіденційність є важливою для нас. Файл, який Ви відправляли на розпізнавання фізично зберігається до
            одного тижня, після цього автоматично видаляється. Кожен запит має своє унікальне посилання та доступний
            лише Вам. Ви можете поділитись посиланням на нього зі своїми друзями. Сторінки з результатами заборонені для
            індексації пошуковими системами, але їх може переглянути робота контекстної реклами AdSense.
            Результат обробки (розпізнавання) зберігається до двох років. Ви можете видалити запити на розпізнавання з
            браузера з якого було виконано завантаження файлу.</p>
        <hr>
        <h2>Чи має сервіс API?</h2>
        <p>Ми ще не робили функціонал для API</p>
        <hr>
        <h2>Які формати я можу завантажувати?</h2>
        <p>Ви можете завантажувати JPG, JPEG та PNG файли.</p>
        <hr>
        <h2>Яке обмеження максимального розміру файлу?</h2>
        <p>Ліміт розмір файлу 8 MB</p>
        <hr>
        <h2>Чи є у сайту мобільний або Desktop додаток?</h2>
        <p>На даний момент у нас немає таких програм.</p>
        <hr>
    </div>
    <div class="col-md-2" style="background-color:#E0E5EC; height: 100%;"></div>
</div>


{% endblock %}