{% extends 'main/loyaut.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
{% include "main/nav.html" %}
<div class="tabcontent" style="padding-left:20%; padding-right:20%; padding-top:2%; padding-bottom:2%">
    <h2>Маленькі мрії та грандіозні плани</h2>
    <p>МИ – найбільший онлайн-рітейлер у країні. З 2021 року ми втілюємо маленькі мрії та грандіозні плани мільйонів
        людей. В нас можна знайти буквально все. Ми продаємо за справедливою ціною та надаємо гарантію, оскільки
        вважаємо,
        що онлайн-шопінг має бути максимально зручним та безпечним. І щоразу, коли хтось натискає «Купити», ми
        розуміємо, що
        робимо потрібну справу.</p>
    <br>
    <h2>Наша мета – бути корисними</h2>
    <p>Ми віримо, що речі існують для того, щоб робити життя простішим, приємнішим і добрішим. Тому і пошук тієї самої
        речі
        має бути швидким, зручним та приємним. Ми не просто продаємо побутову техніку, електроніку, прикраси чи вино. Ми
        допомагаємо знайти саме те, що потрібно, в одному місці та без зайвих хвилювань, щоб ви не витрачали життя на
        пошуки, а просто жили щасливо. Rozetka – це універсальна відповідь на будь-який запит, початок пошуку та його
        кінцеву зупинку, справжній помічник. Ми назавжди позбавляємо своїх покупців неприємних компромісів, виконуємо
        бажання і дозволяємо мріяти сміливіше. Завдяки розумному пошуку та чесному сервісу ми робимо життя наших
        клієнтів
        трохи кращим прямо зараз.</p>
    <br>
    <h2>Щастя починається з простих речей</h2>
    <p>І ми допомагаємо знайти ці речі: закоханим підказуємо чим здивувати один одного; спортивних мотивуємо ніколи не
        здаватися та швидше прогресувати; господарським даємо можливість створити справжній затишок. Ми хочемо, щоб ви
        знали, що шукаєте, і могли б аргументувати свій вибір. Для цього ми знімаємо відеоогляди, пишемо статті та
        відстежуємо новинки.</p>
    <br>
    <h2>Щоб мрії здійснювалися легко</h2>
    <p>Ми відкриваємо величезні офлайн-магазини, щоб ви могли прийти, потримати в руках і протестувати продукт, що
        сподобався. Ми хочемо, щоб у нас був найкращий у світі сервіс, тому навчаємо співробітників не лише технічній
        стороні роботи, а й роботі з клієнтом. А якщо вам, навпаки, хочеться поменше спілкуватися з людьми — для цього
        ми
        маємо поштоматів: зробили замовлення, вибрали поштамат, забрали дорогою додому або на роботу. Всі.</p>
    <br>
    <h2>Зручна доставка</h2>
    <p>І звісно, будь-який товар можна замовити з доставкою. Ми доставляємо Києвом протягом одного дня, а Україною —
        наступного дня. Все – без передоплати, якщо потрібно – у кредит. Оплата готівкова чи безготівкова – як вам
        зручніше.</p>
    <br>
    <h2>Далі - більше</h2>
    <p>Ми хочемо, щоб у наших клієнтів взагалі ніколи не виникало питання «де знайти щось потрібне». Тому тепер ми не
        лише
        найбільший онлайн-рітейлер, але ще й майданчик для продавців. Хтось почне з нами свій перший бізнес (або
        розширить
        існуючий), а хтось привезе в Україну продукти, яких поки що немає. Це вигідно всім: і покупцям, і продавцям, і
        навіть нам, адже так ми допоможемо більшій кількості людей стати трохи щасливішими.</p>
</div>
{% endblock %}