{% extends 'main/loyaut.html' %}

{% block title %}Новини{% endblock %}


{% block content %}
{% for el in news %}
<div class="tabcontent" style="padding-left:20%; padding-right:20%; padding-top:2%; padding-bottom:2%">
    <h2>{{ el.title }}</h2>
    <h4>{{ el.anons }}</h4>

    <div class="row">
        <div class="col-md-9">
            <p>{{ el.full_text }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <h6>{{ el.date }}</h6>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}